@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500;600;700&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Asap", sans-serif;
  font-size: 1rem;
  font-style: normal;
  /*overflow: hidden;*/
}

span {
  cursor: pointer;
}

header {
  
  width: 100%;
  height: 75px;
  /* background: #4806ca; */
  flex-direction: column;
  display: grid;

  align-items: center;
  
}

.flex-menu {
  display: flex;
  flex-direction: row;
}

.flex-menu > ul {
  width: 75%;
}

.flex-menu ul li {
  display: inline;
  list-style: none;
  justify-content: space-around;

  margin: auto 10px;
}

.flex-menu ul li a {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;

  color: white;
}

.flex-menu ul li a span {
  vertical-align: bottom;
  margin-right: 2px;
  font-size: 20px;
  font-weight: 900;
}

.box {
  width: 370px;
  min-height: 550px;
  max-height: 650px;
  position: fixed;
  background: #e6e6e6;
  bottom: 70px;
  right: 260px;
  display: none;
  border-radius: 7px 5px;
  box-shadow: 0px 0px 12px 4px rgb(93 88 88 / 70%);
}

.box-active {
  display: block;
}
.box-header {
  padding: 20px 0;
  position: absolute;
  /*background: #e63888;*/
  width: 370px;
  top: 0px;
  border-radius: 7px 5px 0px 1px;
}

.box-header span {
  color: #cac5c5;
  top: 8px;
  right: 20px;
  position: absolute;
}

.box-footer {
  padding: 30px 0;
  position: absolute;
  /*background: #e63888;*/
  width: 370px;
  bottom: 0px;
  border-radius: 0px 0px 5px 5px;

  z-index: -1;
}

.popup-content {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-end;
  margin: 40px auto;
  color: #656060;
  line-height: 1.5;
}

.popup-content > span {
  display: flex;
  justify-content: center;
  padding: 25px;
  align-items: center;
}

.popup-content > span {
  /*color: #585858;*/
  background: #fff;
  border-radius: 8px;
  /* margin: 3px 10px; */

  margin: 25px 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.item-active img {
  position: fixed;
  bottom: 10px;
  right: 12px;
  cursor: pointer;
  width: 130px;
  height: 130px;
  background: #fff;
  border-radius: 10%;
  padding: 10px;

  /*border: 2px solid #e63888;*/
}
.flex-animate-bottom {
  animation: animatebottom 0.2s;
  transition: width 2s;
  transition-delay: 3s;
}

.flex-item-search {
  background-position: 0 auto;
  bottom: 0.25rem;
  /* margin: 0.25rem 0.2rem; */
  align-items: center;
}

.flex-item-search > #search > input {
  border: 1px solid #cabfbf;
  flex: 1;
  padding: 12px 6px;
  border-radius: 4.75rem;
  margin-top: 3rem;
}

.flex-item-search > #search > button {
  margin-top: 3.1rem;
  border: 0;
  border-radius: 10px;
  background: #244bbb;
  color: #fff;
  border-radius: 8px;
  margin-left: 7px;
  cursor: pointer;
  padding: 0.5rem !important;
}

#search {
  display: flex;
  position: fixed;
  left: 0.875rem;
  bottom: 0.5rem;
  justify-content: center;
  width: 93%;
}

#word {
  font-weight: 800;

  font-weight: 800;
  display: contents;
  text-decoration: underline;
}

/* #innerHTML:hover {
  display: none;
} */

/* .dialog-transition:hover {
  width: 0px;

  animation: mover 0.2s;
  transition: width 2s;
  transition-delay: 3s;
} */

/* @keyframes mover {
  from {
    height: 0px;
  }

  to {
    height: 176px;
  }
} */

@keyframes animatebottom {
  from {
    bottom: -600px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
